/**FONT FAMILY : ROBOTO **/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

/**SETTING THE BACKGROUND COLOR**/
body {
    font-family: 'Lato';
    background-color: darkgreen;
    justify-content: center;
    align-items: center;
    margin: 0px;
            padding: 0px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
}

canvas{
    box-shadow: black 20px 10px 50px;
}

.logo {
margin: 0 auto;
text-align: center;
font-size: 5rem;
}

.score {
    margin: 0 auto;
    text-align: center;
    font-size: 4rem;
}